
<footer>
    <div class="f-container">
        <a href="#"><span class="fa fa-facebook-square"></span></a>
        <a href="#"><span class="fa fa-twitter-square"></span></a>
        <a href="#"><span class="fa fa-linkedin-square"></span></a>
        <a href="#"><span class="fa fa-google-plus-square"></span></a>
        <div id='navi'>
            <a href="/">Home</a>
            <a href="/users/Profile">Profile</a>

        </div>
        <p>Copyright © 2020. All rights reserved</p>
    </div>
</footer>