footer{
    background-color: rgb(110, 110, 104);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
    a{
        font-size: xx-large;
        color: white;
        padding: 0px 8px;
    }
    #navi a{
        color: rgb(149, 186, 255);
    }
}