#home-container{
    display: flex;

    #feed-post{
        width: 70%;
        padding: 0px 10px;
    }

    #user-friends{
        width: 30%;
        padding-left: 10px;
        border-left: 1px solid gray;
        height: auto;
    }
}