#home-container {
  display: flex;
}

#home-container #feed-post {
  width: 70%;
  padding: 0px 10px;
}

#home-container #user-friends {
  width: 30%;
  padding-left: 10px;
  border-left: 1px solid gray;
  height: 100vh;
}
